<header class="mainHeader">
    <div class="headerContainer">
        <div class="logoName">
            <img src="assets/images/logo.png" alt="Logo" class="imgLogo"> 
            <h3>CVC Analytics</h3>
        </div>

        <button class="menuToggle" (click)="toggleMenu()">☰</button>

        <nav class="lateralMenu" [ngClass]="{'show': menuVisible}">
            <input class="linkStyle" type="submit" (click)="parcelas()" value="Mis parcelas"/>
            <input class="linkStyle" type="submit" (click)="cultivos()" value="Mis cultivos"/>
            <input class="linkStyle" type="submit" (click)="comparador()" value="Comparador CVC"/>
            <input class="linkStyle" type="submit" (click)="perfil()" value="Mi perfil"/>
            <input class="linkStyle" type="submit" (click)="logout()" value="Cerrar sesión"/>    
        </nav>
    </div>
</header>
