<header class="mainHeader">
    <div class="headerContainer">
        <div class="logoName">
            <img src="assets/images/logo.png" alt="Logo" class="imgLogo"> 
            <h3>CVC Analytics</h3>
        </div>

        <button class="menuToggle" (click)="toggleMenu()">☰</button>

        <nav class="lateralMenu" [ngClass]="{'show': menuVisible}">
            <button class="linkStyle" (click)="parcelas()">Mis parcelas</button>
            <button class="linkStyle" (click)="cultivos()">Mis cultivos</button>
            <button class="linkStyle" (click)="comparador()">Comparador CVC</button>
            <button class="linkStyle" (click)="perfil()">Mi perfil</button>
            <button class="linkStyle" (click)="logout()">Cerrar sesión</button>    
        </nav>
    </div>
</header>
