<header class="mainHeader">
    <div class="headerContainer">
        <div class="logoName">
            <img src="assets/images/logo.png" alt="Logo" class="imgLogo"> 
            <h3>CVC Analytics</h3>
        </div>

        <button class="menuToggle" (click)="toggleMenu()">☰</button>

        <nav class="lateralMenu" [ngClass]="{'show': menuVisible}">
            <a class="linkStyle" (click)="parcelas()" tabindex="0">Mis parcelas</a>
            <a class="linkStyle" (click)="cultivos()" tabindex="0">Mis cultivos</a>
            <a class="linkStyle" (click)="comparador()" tabindex="0">Comparador CVC</a>
            <a class="linkStyle" (click)="perfil()" tabindex="0">Mi perfil</a>
            <a class="linkStyle" (click)="logout()" tabindex="0">Cerrar sesión</a>   
        </nav>
    </div>
</header>
